.work-container{
    color:aliceblue
}
.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding-bottom: 5rem;
}

.project-card{
    background-color: #084c35;
    padding: 1.rem 1rem;
}
.project-card img{
    width: 100%;
}

.project-title{
    margin: 1rem 0;
    text-align: center;
}

.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.3rem;
    text-align: center;
    color:#ffff;
}

.pro-btns{
    display: flex ;
    justify-content:space-between ;
    padding: 0.5rem 0 ;
}

.pro-btns .btn{
    padding: 0.5rem 1rem;

}

@media screen and (max-width: 740px) {
    .projects-container{
        max-width: 90%;
        margin: auto;

    }
    
}