.nav{
    height: 75px;
    background-color: crimson;
    text-decoration: none;
    padding: 2rem 0.5rem 0 0.5rem;

}

.navbar-item{
    text-decoration: none;
    display: inline-block;
    width: 20%;
    color: aliceblue;
    }
.navbar-item:hover{
    background-color: rgb(175, 27, 57);
    border-radius: 10%;
    }